@font-face {
    font-family: 'CowboyslangW00';
    src: url('CowboyslangW00-Regular.woff2') format('woff2'),
        url('CowboyslangW00-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Draw me the Rainbow';
    src: url('DrawmetheRainbow.woff2') format('woff2'),
        url('DrawmetheRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

